*{box-sizing: border-box;}
body{
    font-family: sans-serif;
    margin: 0 ;
    padding: 0;
    background: #485164;
    color: #fff;
    padding: 164px 125px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 0;
}
p{margin: 0;}
.headerp{
    font-size: 24px;
    margin-top: 15px;
}

.kase{
    font-size: 20px;
    padding-top: 100px;
}

h2{
    font-size: 24px;
    color: blueviolet;
    margin-bottom: 25px;
}

.kase-wrap{
    background-color: #585164;
    padding: 103px;
    display: flex;

}